.current {
	padding: 30px 0 !important;
	background: #f9f8f2;
	background-image: url('./icons/bg.png');
  	background-repeat: no-repeat;
  	background-position: top center;
  	background-size: cover;
	border: 0;
	border-bottom: 1px solid #eaeaea;
}

.read {
	padding: 30px 0 !important;
	border: 0;
	border-bottom: 1px solid #eaeaea;
}

.bookshelf-title {
	width: 1024px;
	margin: 20px auto;
	border: 0 !important; 
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

@media screen and (max-width: 480px) {
	.bookshelf-title {
		text-align: center;
	}
}

.bookshelf-books {
	width: 1024px;
	margin: 20px auto;
}

.book-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-top: 15px;
    margin-bottom: 1px;
    line-height: 17px;
}

.book-authors {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 12px;
}

.list-books-title > h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 24px;
    margin: 3px 0;
    vertical-align: super;
    display: inline-block;
}

@media screen and (max-width: 1024px) {
	.bookshelf-title {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	.bookshelf-books {
		width: 100%;
	}
}