.tags > ul {
	list-style: none;
}

.tags > ul > li {
	display: inline-block;
	padding: 8px 5px;
}

.tags > ul > li > span {
	border-radius: 25px;
    padding: 5px 17px;
    background: #f2f2f2;
    font-size: 12px;
    color: #000000;
}

.tags > ul > li > span:hover {
	border-radius: 25px;
    padding: 5px 17px;
    background: #ececec;
    font-size: 12px;
    color: #000000;
}	

.tags > .title-tag {
	margin-left: 45px;
}

